.be-noevents1{
    border-radius: 10px;
  height: 30%;
  width:50%;
  margin-bottom: 10px;
  margin-top: 9px;
}
 table {
    display: block;
    overflow: hidden;
    table-layout: fixed;
    border-collapse: collapse;
    box-shadow: 0px 5px 10px #ccc;
    border-radius: 15px;
    white-space: nowrap;
    width: 1400px;
    /* max-width: 80%; */
    margin-left: 164px;
    table-layout: auto;
    margin-left: -20px;
    /* overflow-x: auto; */
    /* width: 50%;
    border-collapse: collapse;
    margin-top: 200px;
    height: 10px;
    margin-left: 200px; */
}
td {
    font-size: 20px;
    padding: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #ffffff;
    text-align: center;
    color: #000;
}

th {
    font-size: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: center;
    color:rgb(0, 0, 0);
    background-color: #a4a4a4;

  }
.ve-img1{
  height: 35px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 15px;
  cursor: pointer;
}
.con
{
    background-color: rgb(28, 209, 28);
    height: 40px;
    width: 100px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    
}
.re
{
    background-color: rgba(255, 0, 0, 0.776);
    height: 40px;
    width: 100px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
  }
  .pe{
  background-color: rgb(255, 251, 0);
  height: 40px;
    width: 100px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
}