 .ad-search-form{
  display: flex;
  margin-top: -35px;
  padding-left: 568px;
}
.ad-add{
  margin-top: -43px;
  padding-left: 1200px;
  display: flex;
  flex-direction: row;
  color: rgb(1, 122, 17);
  /* letter-spacing:0cqmax */

}
.ad-add:hover{
  color: rgb(1, 83, 12);
}
.ad-poih{
  padding-left: 40px;
  margin-top: -41px;
}
.ad-pointer{
  cursor: pointer;
  float: left;
}
.ad-h1{
  padding-top: 120px;
  padding-left: 70px;
}
.be-overall{
  background-color:rgb(120, 175, 218);
  min-height:100vh;
}

.be-h1{
  padding-top: 115px;
  padding-left: 70px;

}
.pb-5{
text-decoration: none;
cursor: pointer;
margin-bottom: 100px;
}
.be-none{
margin-top:50px;
text-align: center;
}
.be-noevents{
border-radius: 10px;
height: 30%;
width:25%;
margin-bottom: 10px;
}

.search-form {
  display: flex;
  align-items: center;
  margin-top: -35px;
  padding-left: 1015px;
}

.search-input {
  /* padding: 10px 15px;
  margin-right: 8px;
  text-align:start;
  border: 2px solid #007bff;
  border-radius: 5px;
  font-size: 18px;
  outline: none; */
  float: left;
  width: 450px;
  height: 30px;
  margin-right: 600px;
}
.search-input::placeholder{
  font-family:cursive;
}

.search-button {
  padding: 12px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #0056b3;
}

.be-grid{
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 100px;
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto auto;
  gap: 100px;

}

/* Style for the gallery wrapper */
.gallery-wrapper {
  width: 20vw;
  height: 50vh;
}

/* Style for the grid sizer */
.grid-sizer {
  width: 100%;
  
}


/* Style for each grid item */
.grid-item {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  height: 500px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  background-color: #fff;
}

/* Hover effect for the grid items */
.grid-item:hover {
  transform: scale(1.05);
}

/* Style for the image inside each grid item */
.grid-item img {
  width: 100%;
  height: 60%;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}


/* Style for the text content inside each grid item */
.grid-item .h4 {
  margin-left: 10px;
  font-size: 1.5rem;
  color: #333;
  text-align: center;
  margin-bottom: 5px;
}

/* Style for the description inside each grid item */
.grid-item .font-italic {
  color: #666;
  display: flex;
  /* font-style: italic; */
  margin-left: 10px;
  /* font-weight: 500; */
  padding: 1px;
}


/* Style for the button inside each grid item */
.grid-item .btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

/* Hover effect for the button */
.grid-item .btn:hover {
  background-color: #0056b3;
}

