.edit-1{
    width: 800px;
    height: 1000px;
    background-color: aliceblue;
  padding-top: 20px;
}


.h1-book-event{
    color: rgba(222, 171, 109, 0);
    font-size: 50px;
    letter-spacing: 3px;
}
.input-book-1-event{
  width: 300px;
  height: 30px;
  background-color: aliceblue;
  border-radius: 160px;
  opacity:0.0;
}
.input-div-event{
  float: left;
  margin-left: 60px;
  font-family: Arial, Helvetica, sans-serif;
}
.input-div-1-event{
  width: 300px;
  height: 30px;
  float: right;
  margin-right:60px;
  font-family: Arial, Helvetica, sans-serif;
}
.jack46
{
  background-image: url("https://img.freepik.com/free-vector/abstract-classic-blue-wallpaper-theme_23-2148409190.jpg");
  border-radius: 80px;
}