.im6
{
    height: 700px;
    width:120%;
    margin-top: -40px;
    margin-left: -128px;
    padding-bottom: 100px;
    padding-left: 240px;
    /* margin-bottom: -210px; */
    background-image:url("https://cutewallpaper.org/28/cool-tomorrowland-wallpaper/168588994.jpg");
    background-size: cover;
  
}
.co1
{
    float: right;
    margin-top:90px;
    color: blue;
    border-radius: 30px;
    /* margin-left: 200px; */
}
.co71
{
border:5px solid black;
margin-top: -60px;
margin-bottom: 180px;
margin-left: 110px;
margin-right: 40px;
padding-bottom:-0px;
padding-top:10px;
padding-left:100px;
padding-right:100px;
background-color: aquamarine;
}
.jk1
{
    display: flex;
}
h3{
    color: black;
}
.cq1
{
    border-radius: 80px;
    border: 5px solid black;
    margin-left:500px;
    margin-right:500px;
    padding-bottom: 50px;
    padding-top: 50px;
}
.po25
{
    position: fixed;
}