/* .login-container {
    width: 300px;
    margin: 0 auto;
    margin-top: -430px;
    margin-left: 1000px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 40px;
    background-color: #161b201e;

  }
  
  h2 {
    text-align: center;
  }
  
  input[type='text'],
  input[type='password'] {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  .jack15
  {
    background-image: url("https://thumbs.dreamstime.com/b/event-management-concept-meeting-white-office-table-93231489.jpg");
    height: 500px;
    width: 700px;
    margin-top: 100px;
    border-radius: 70px;
    margin-left: 300px;
  }
   */





















   
.gh1{
  /* font: 1em/1.618 Inter, sans-serif; */
  font-family:cursive;
  display: flex;
  align-items: center;
  justify-content: center;
  /* min-height: 100vh; */
  width: 105%;
  height: 900px;
  margin-left: -150px;
  margin-top: 100px;
  position: fixed;
  height: fit-content;
  /* position: fixed; */
  padding: 100px;
  color: #224;
  background:
    url(https://source.unsplash.com/E8Ufcyxz514/2400x1823)
    center / cover no-repeat fixed;
}
.bg90
{
  margin-top: 200px;
  border:4px solid black;
  padding-left: 80px;
  margin-left:  -190px;
  
  padding-right: 80px;
  padding-bottom: 30px;
  border-radius: 50px;
}

/* SignupForm.css */

/* Apply some basic styling to the form container */
/* div {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 50px;
  border: 1px solid black;
} */

/* Style the form heading */
h2 {
  text-align: center;
  color: #333;
}

/* Style the form labels and inputs */
label {
  display: block;
  margin-bottom: 8px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

/* Style the submit button */
.bu1 {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Add some hover effect to the button */
